## Checa se todas as bibliotecas est√£o baixadas

In [ ]:
!pip install googledrivedownloader

## Baixa dados do enade da Web

In [2]:
from google_drive_downloader import GoogleDriveDownloader as gdd

access_link_microdados_zip = 'https://drive.google.com/file/d/144nbL5UNk1lG9GhJ-QwZCQtGEXrei9fx/view?usp=sharing'
drive_id_microdados_zip = '144nbL5UNk1lG9GhJ-QwZCQtGEXrei9fx'

gdd.download_file_from_google_drive(drive_id_microdados_zip,'./microdados_enade.zip', unzip = True)

## Cria banco de dados

In [13]:
import sqlite3
from sqlite3 import Error
import os

#https://www.sqlitetutorial.net/sqlite-python/


def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


def getPath():
    return os.path.join(os.getcwd(), 'dw_prova_individual.db')


if __name__ == '__main__':
    conn = create_connection(getPath())

In [14]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

In [15]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

## Cria tabelas no banco de dados

In [26]:
def main():
    database = "C:\sqlite\db\pythonsqlite.db"

    # cria tabela fato
    sql_create_classificacao_enade_table = """ CREATE TABLE IF NOT EXISTS classificacao_enade (
                                        fk_estudante_id text,
                                        fk_prova_id integer,
                                        fk_co_ies text,
                                        fk_questionario_estudante_id integer,
                                        fk_percepcao_prova_id integer,
                                        fk_tempo_id integer,
                                        nt_ger real,
                                        nt_fg real,
                                        nt_obj_fg real,
                                        nt_dis_fg real,
                                        nt_fg_d1 real,
                                        nt_fg_d1_pt real,
                                        nt_fg_d1_ct real,
                                        nt_fg_d2 real,
                                        nt_fg_d2_pt real,
                                        nt_fg_d2_ct real,
                                        nt_ce real,
                                        nt_obj_ce real,
                                        nt_dis_ce real,
                                        nt_ce_d1 real,
                                        nt_ce_d2 real,
                                        nt_ce_d3 real,
                                        FOREIGN KEY (fk_estudante_id) REFERENCES estudante(estudante_id),
                                        FOREIGN KEY (fk_prova_id) REFERENCES prova(prova_id),
                                        FOREIGN KEY (fk_co_ies) REFERENCES ies(co_ies),
                                        FOREIGN KEY (fk_questionario_estudante_id) REFERENCES questionario_estudante(questionario_estudante_id),
                                        FOREIGN KEY (fk_percepcao_prova_id) REFERENCES percepcao_prova(percepcao_prova_id),
                                        FOREIGN KEY (fk_tempo_id) REFERENCES tempo(tempo_id)
                                    ); """

    # cria tabelas dimensao
    sql_create_tempo_table = """ CREATE TABLE IF NOT EXISTS tempo (
                                        tempo_id integer PRIMARY KEY,
                                        data text,
                                        nu_ano integer,
                                        ano_fim_em integer,
                                        ano_in_grad integer
                                    );"""

    sql_create_estudante_table = """ CREATE TABLE IF NOT EXISTS estudante (
                                        estudante_id integer PRIMARY KEY,
                                        nu_idade integer,
                                        tp_sexo text,
                                        co_turno_graduacao integer,
                                        tp_inscricao_adm integer,
                                        tp_inscricao integer
                                    );"""

    sql_create_ies_table = """ CREATE TABLE IF NOT EXISTS ies (
                                        co_ies integer PRIMARY KEY,
                                        co_categad integer,
                                        co_orgacad integer,
                                        co_grupo integer,
                                        co_curso integer,
                                        co_modalidade integer,
                                        co_munic_curso integer,
                                        co_uf_curso integer,
                                        co_regiao_curso integer
                                    );"""

    sql_create_prova_table = """ CREATE TABLE IF NOT EXISTS prova (
                                        prova_id integer PRIMARY KEY,
                                        tp_sfg_d1 integer,
                                        tp_sfg_d2 integer,
                                        tp_sce_d1 integer,
                                        tp_sce_d2 integer,
                                        tp_sce_d3 integer,
                                        nu_item_ofg integer,
                                        nu_item_ofg_z integer,
                                        nu_item_ofg_x integer,
                                        nu_item_ofg_n integer,
                                        nu_item_oce integer,
                                        nu_item_oce_z integer,
                                        nu_item_oce_x integer,
                                        nu_item_oce_n integer,
                                        ds_vt_gab_ofg_orig text,
                                        ds_vt_gab_ofg_fin text,
                                        ds_vt_gab_oce_orig text,
                                        ds_vt_gab_oce_fin text,
                                        ds_vt_esc_ofg text,
                                        ds_vt_ace_ofg text,
                                        ds_vt_esc_oce text,
                                        ds_vt_ace_oce text
                                    );"""

    sql_create_percepcao_prova_table = """ CREATE TABLE IF NOT EXISTS percepcao_prova (
                                        percepcao_prova_id integer PRIMARY KEY,
                                        co_rs_i1 text,
                                        co_rs_i2 text,
                                        co_rs_i3 text,
                                        co_rs_i4 text,
                                        co_rs_i5 text,
                                        co_rs_i6 text,
                                        co_rs_i7 text,
                                        co_rs_i8 text,
                                        co_rs_i9 text
                                    );"""

    sql_create_questionario_estudante_table = """ CREATE TABLE IF NOT EXISTS questionario_estudante (
                                        questionario_estudante_id integer PRIMARY KEY,
                                        feedback_curso text,
                                        qe_i01 text,
                                        qe_i02 text,
                                        qe_i03 text,
                                        qe_i04 text,
                                        qe_i05 text,
                                        qe_i06 text,
                                        qe_i07 text,
                                        qe_i08 text,
                                        qe_i09 text,
                                        qe_i10 text,
                                        qe_i11 text,
                                        qe_i12 text,
                                        qe_i13 text,
                                        qe_i14 text,
                                        qe_i15 text,
                                        qe_i16 integer,
                                        qe_i17 text,
                                        qe_i18 text,
                                        qe_i19 text,
                                        qe_i20 text,
                                        qe_i21 text,
                                        qe_i22 text,
                                        qe_i23 text,
                                        qe_i24 text,
                                        qe_i25 text,
                                        qe_i26 text,
                                        qe_i_69 text,
                                        qe_i_70 text,
                                        qe_i_71 text,
                                        qe_i_72 text,
                                        qe_i_73 text,
                                        qe_i_74 text,
                                        qe_i_75 text,
                                        qe_i_76 text,
                                        qe_i_77 text,
                                        qe_i_78 text,
                                        qe_i_79 text,
                                        qe_i_80 text,
                                        qe_i_81 text
                                    );"""


    # create a database connection
    conn = create_connection(database)

    # create tables
    if conn is not None:
        # create historico table
        create_table(conn, sql_create_classificacao_enade_table)
        create_table(conn, sql_create_estudante_table)
        create_table(conn, sql_create_ies_table)
        create_table(conn, sql_create_prova_table)
        create_table(conn, sql_create_percepcao_prova_table)
        create_table(conn, sql_create_questionario_estudante_table)
        create_table(conn, sql_create_tempo_table)
    else:
        print("Error! cannot create the database connection.")

In [27]:
if __name__ == '__main__':
    main()

## L√™ dados do arquivo .txt

In [28]:
#function that reads .txt file and returns a list of lines
def read_file(file_name):
    with open(file_name, 'r') as file:
        lines = file.readlines()
    return lines


for line in read_file('MICRODADOS_ENADE_2017.txt'):
    attributes = line.split(';')


#print(read_file('microdados_enade_2018.txt'))
#print(read_file('microdados_enade_2019.txt'))